<header role="banner">
  <h1><a class="h-card" rel="me" href="/">{{ siteName }}</a></h1>
  {% if navLinks %}
    <nav role="navigation">
      {% for link in navLinks %}
        <a href="{{ link.url }}">{{ link.text }}</a>
      {% endfor %}
    </nav>
  {% endif %}
</header>
