<header role="banner">
  <h1><a class="h-card" rel="me" href="/">Nevan Scott</a></h1>
  <nav role="navigation">
    <a href="/writing/">Writing</a>
    <a href="/portfolio/">Portfolio</a>
    <a href="/teaching/">Teaching</a>
    <a href="/reading/">Reading</a>
  </nav>
</header>
